<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
<div class="container">
  <div class="row">
  <h1 class="text-center"> Note Taker </h1>
</div>
<div class="row">
  <div class="col-md-2">
   <h3>Menu</h3>
   <ul class="nav nav-pills nav-stacked">
        <li class="active" routerLinkActive="active"><a [routerLink] ="'/'"> Home</a></li>
        <li class="active" routerLinkActive="active"><a [routerLink]="'/about'">About</a></li>
        <li class="active" routerLinkActive="active"><a [routerLink]="'/note'">Note</a></li>
        <li *ngIf="logout && currentuser ==null"><button class="btn-group btn-group-justified" (click)="logOut()">Logout</button></li>
        <li *ngIf="!logout && currentuser !==null" class="active" routerLinkActive="active"><a [routerLink]="'/login'">Login</a></li>
        <li *ngIf="!logout && currentuser !==null" class="active" routerLinkActive="active"><a [routerLink]="'/register'">Create user</a></li>
  </ul>
  </div>
  <div class="col-md-8">
    <router-outlet> </router-outlet>
  </div>
</div>
</div>

</body>
</html>
